.flight-item {
	margin: 8px 0 0 0;
	padding: 15px;
	@include media-breakpoint-down(md) {
		padding: 10px 2px;
		margin: 15px 0 0 0;
	}

	.location {
		justify-content: space-between;
		position: relative;
		align-items: center;

		& > div {
			background: white;
		}

		&:before {
			content: "";
			height: 2px;
			background: #d6d6d6;
			position: absolute;
			top: 20px;
			left: 90px;
			right: 90px;
		}

		&:after {
			content: "\E904";
			font-family: "icomoon" !important;
			position: absolute;
			top: 6px;
			left: 50%;
			transform: translateX(-50%);
			font-size: 20px;
		}

		&.reverse {
			&:after {
				transform: translateX(-50%) scaleX(-1);
			}
		}
	}

	.airline-logo {
		background-image: url(../../images/airlineLogos.png);
		height: 40px;
		width: 40px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 0px 0px;

		&[data-airline-code="AI"] {
			background-position: 0px 0px;
		}

		&[data-airline-code="SG"] {
			background-position: 0px -78px;
		}

		&[data-airline-code="6E"] {
			background-position: 0px -120px;
		}

		&[data-airline-code="9W"] {
			background-position: 0px -40px;
		}
	}

	.airline-id {
		font-weight: 500;
		font-size: 0.8rem;
		margin-top: 5px;
	}
	.price-box,
	.left-sec {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.price {
		font-size: 1.5rem;
		font-weight: 600;
		// text-align: center;
		margin-bottom: 10px;
		color: #444444;
	}

	@include media-breakpoint-down(md) {
		.left-sec {
			border-bottom: 1px solid #e8e8e8;
			padding-bottom: 10px;
		}
		.price-box {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin-top: 9px;
		}
		.price {
			font-size: 1.3rem;
			margin-bottom: 0;
			padding-left: 5px;
		}
	}
}
