.search-box {
	padding: $grid-gutter-width;
	position: sticky;
	top: 0;
	z-index: 1;
	.find-flight-btn {
		padding: 0.75rem;
	}
	@include media-breakpoint-down(md) {
		position: static;
		top:auto;
		margin-bottom: 15px;
	}
}
